/* The @import rule allows you to import a style sheet into another style sheet */
/* Fonts - GoogleFont */

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

/* Body */
body {
  background-color:rgb(235, 235, 235);
  font-family: "Open Sans", sans-serif;
}

/* Navigation */

.navbar {
  background-color: #776979;
}

h1, h2, h3, h4, h5 {
  font-family: "Lobster Two", cursive;
  color:#413243;
}

header h2 {
  color: #715A74;
}

.jumbotron {
  padding: 30px;
  margin:0;
  /* background-image: linear-gradient(to right, #B5BEBD, #B8B5BE, #BEB5B6,#715A74); */
  /* color: white; */
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

/* About Page */
.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px;
}
/* Contact Page */

/* to override any default properties in bootstrap you have to specify the properties as important. */
.btn-primary{
  background-color:#715A74 !important;
  border-color:#413243 !important;
}

/* Sites Page */


/* Section: Footer */
.col-4 col-sm-2 offset-1{
  padding-top:50px;
}

.site-footer {
  background-image: linear-gradient(to right, #B5BEBD, #B8B5BE, #BEB5B6,#715A74);
  padding:0;
  margin:0;
}

#footer-content{
 padding-top:20px;
}


/* Images */


/* Media Queries */
